
<!doctype html>
<body>
	<h3>CO2 Emission Prediction Form</h3>

<div>
<form action="/result" method="POST">
	<label for="Jet Fuel_avi_BTU">Jet Fuel BTU</label>
	<input type="number" id="Jet Fuel_avi_BTU" name="Jet Fuel_avi_BTU">
	<br>
	<label for="Gasoline_avi_BTU">Gasoline BTU</label>
	<input type="number" id="Gasoline_avi_BTU" name="Gasoline_avi_BTU">
	<br>
	<label for="LDV_SWB_road_BTU">LDV_SWB BTU</label>
	<input type="number" id="LDV_SWB_road_BTU" name="LDV_SWB_road_BTU">
	<br>
	<label for="LDV_LWB_road_BTU">LDV_LWB BTU</label>
	<input type="number" id="LDV_LWB_road_BTU" name="LDV_LWB_road_BTU">
	<br>
	<label for="Combination_Truck_road_BTU">Combination_Truck BTU</label>
	<input type="number" id="Combination_Truck_road_BTU" name="Combination_Truck_road_BTU">
	<br>
	<label for="Bus_Road_BTU">Bus_road BTU</label>
	<input type="number" id="Bus_Road_BTU" name="Bus_Road_BTU">
	<br>
	<label for="Railways_BTU">Railways BTU</label>
	<input type="number" id="Railways_BTU" name="Railways_BTU">
	<br>
	<label for="Water_BTU">Water BTU</label>
	<input type="number" id="Water_BTU" name="Water_BTU">
	<br>
	<label for="Natural_Gas_BTU">Natural Gas BTU</label>
	<input type="number" id="Natural_Gas_BTU" name="Natural_Gas_BTU">
	<br>
	<label for="LDV_SWB_EFF">LDV_SWB_EFF</label>
	<input type="number" id="LDV_SWB_EFF" name="LDV_SWB_EFF">
	<br>
	<label for="LDV_LWB_EFF">LDV_LWB_EFF</label>
	<input type="number" id="LDV_LWB_EFF" name="LDV_LWB_EFF">
	<br>
	<label for="Passenger_Car_EFF">Passenger Car EFF</label>
	<input type="number" id="Passenger_Car_EFF" name="Passenger_Car_EFF">
    <br>
	<label for="Domestic_EFF">Domestic EFF</label>
	<input type="number" value="Domestic_EFF" name="Domestic_EFF">
    <br>
	<label for="Imported_EFF">Imported EFF</label>
	<input type="number" value="Imported_EFF" name="Imported_EFF">
    <br>
	<label for="Light_Truck_EFF">Light Truck EFF</label>
	<input type="number" value="Light_Truck_EFF" name="Light_Truck_EFF">
    <br>
	<label for="Passenger_Car_Age">Passenger Car Age</label>
	<input type="number" value="Passenger_Car_Age" name="Passenger_Car_Age">
    <br>
	<label for="Light_Truck_Age">Light Truck Age</label>
	<input type="number" value="Light_Truck_Age" name="Light_Truck_Age">
    <br>
	<label for="Light_vehicle_Age">Light Vehicle Age</label>
	<input type="number" value="Light_vehicle_Age" name="Light_vehicle_Age">
    <br>
	<label for="Demand_petroleum_transportation)mil_lit">Petrol Demand mil_lit</label>
	<input type="number" value="Demand_petroleum_transportation)mil_lit" name="Demand_petroleum_transportation)mil_lit">
    <br>
	<label for="Average_MC/15000_miles(dollars)">Average_MC per 15000_miles dollars</label>
	<input type="number" value="Average_MC/15000_miles(dollars)" name="Average_MC/15000_miles(dollars)">
	<br>
    <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
</form>
</div>
</body>
</html>
